# Ignore everything.
/*
/*/

!README.md
!did.md
!.gitignore
!.gitconfig
!.gitmodules
!.tmux/*
!.bashrc
!.vim/*
!.vim
!.vimrc
!.git-completion.bash
!.django-completion.bash
!.config/nvim/init.vim
!.tmux.conf
!Makefile

.vim/.netrwhist
