# Ignore everything.
/*
/*/

!.gitignore
!.gitconfig
!.gitmodules
!.tmux/*
!.bashrc
!.vim/*
!.vim
!.vimrc
!.git-completion.bash
!.django-completion.bash
!.config/nvim/coc-settings.json
!.config/nvim/init.vim
!.config/nvim/ginit.vim
!.tmux.conf
!.emacs.d/
!Makefile

.vim/.netrwhist
