# Ignore everything.
/*
/*/

!.bashrc
!.config/nvim/coc-settings.json
!.config/nvim/ginit.vim
!.config/nvim/init.vim
!.config/nvim/lua/*
!.config/nvim/plugins.vim
!.django-completion.bash
!.emacs.d/
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitmodules
!Makefile
!.tmux/*
!.tmux.conf
!.vim
!.vim/*
!.vimrc

.vim/.netrwhist
