[submodule ".vim/pack/my-plugins/nerdtree"]
	path = .vim/pack/my-plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/my-plugins/vim-syntastic"]
	path = .vim/pack/my-plugins/vim-syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/my-plugins/ctrlp.vim"]
	path = .vim/pack/my-plugins/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my-plugins/vim-commentary"]
	path = .vim/pack/my-plugins/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
