[submodule ".vim/pack/my-plugins/start/nerdtree"]
	path = .vim/pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/my-plugins/start/ctrlp.vim"]
	path = .vim/pack/my-plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my-plugins/start/vim-commentary"]
	path = .vim/pack/my-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/my-plugins/start/rust.vim"]
	path = .vim/pack/my-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/my-plugins/start/nvim-yarp"]
	path = .vim/pack/my-plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule ".vim/pack/my-plugins/start/vim-hug-neovim-rpc"]
	path = .vim/pack/my-plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule ".vim/pack/my-plugins/start/deoplete.nvim"]
	path = .vim/pack/my-plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/pack/my-plugins/start/vim-airline"]
	path = .vim/pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/my-plugins/start/deoplete-jedi"]
	path = .vim/pack/my-plugins/start/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule ".vim/pack/my-plugins/start/ale"]
	path = .vim/pack/my-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/my-plugins/start/vim-tmux-navigator"]
	path = .vim/pack/my-plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
